:root{
--eerie-black: rgb(17, 17, 17);
--champagne-pink: #f0e0d7ff;
--cerise: #D64E6E;
--burnt-sienna: #e96e52ff;
--earth-yellow: #ffbb69ff;
--bleu: #0f7cc9;
--mint: #00CC99;

/* Not sure but I like these colours a lot. */
--jet: #2a2b2aff;
--off-black: rgb(53, 52, 49);
--dim-gray: #706c61ff;
--cosmic-latte: #f8f4e3ff;
--cerise2: #e5446dff;
--coral: #ff8966ff;

}
body{
    background-color: var(--eerie-black);
    color: var(--champagne-pink);
    font-family: monospace;
    margin: 0px;
    max-width: 100%;
    
    &.light{
        background-color: var(--cosmic-latte);
        color: var(--eerie-black);
    }
}
.slice{
    width: 100vw;
    display: flex;
    justify-content: center;

}
.dir{
    width: 100vw;
    padding: 16px;
    display: flex;
    justify-content: center;
}
.square{
    width: 248px;
    height: 248px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    background-color: var(--champagne-pink);
    height: 1px;
    width: 100%;
}
h1{
    font-size: 64px;
    margin: 0px;
}
h2{
    font-size: 48px;
    margin: 0px;
}
h3{
    font-size: 32px;
    margin: 0px;
}
a{
    color: var(--earth-yellow);
    font-size: 16px;
    text-decoration: none;
}
a:hover{
    color: var(--burnt-sienna);
}
p{
    font-size: 16px;
    width: fit-content;
}
label{
    max-width: 100%;
    overflow-wrap:anywhere;
}
pre.ascii{
    color: var(--off-black);
    background-color: var(--eerie-black);
}
.message-container {
    position: absolute;
    right: 16px;
    top: 12px;
    height: 190px;
    display: flex;
    flex-direction: column; /* stack from top to bottom */
    justify-content: flex-end; /* push items to bottom */
    align-items: flex-end; /* align messages to the right */
    overflow: hidden;
}

.message-container p.terminal {
    color: var(--dim-gray);
    background: var(--eerie-black);
    padding: 8px 12px;
    margin: 0px;
    opacity: 1;
}

.message-container p.terminal:last-child {
    color: var(--champagne-pink);
    opacity: 1;
}
